/* Review Section
   ========================================================================== */
.review-panel{
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;

	p{
		font-size: 2rem;
		span{
			font-weight: bold;
		}
	}
}
.img-wrap{
	position: relative;
	max-width: 250px;
    margin: 0 auto;


	.img-container{
		position: relative;
		border:5px solid #ddd;		
		width: 100%;
		max-width: 200px;
		overflow: hidden;
		display: inline-block;
		@include border-radius(100%);


		image{
			width: 100%;
		}

	}

	#arrow {
		width: 0;
	    height: 0;
	    border-left: 40px solid transparent;
	    border-right: 40px solid transparent;
	    border-top: 40px solid #ddd;
    	margin: -20px auto 10px;
    	transition: all ease 0.5s;

	}

	.logo{
		position: absolute;
	    top: 53%;
	    right: 10px;
	    max-width: 80px;
	    width: 80px;
	    max-height: 80px;
	    background: $blue;
	    padding: 10px;
	    @include border-radius(3px);

	    img{
	    	max-width: 70px;    	
	    }
	}

	&:hover{
    	#arrow{
    		margin-top:-15px;
    		transition: all ease 0.5s;
    	}
    }

}

.rating{
	unicode-bidi: bidi-override;
	direction: rtl;
	font-size: 3rem;

	span{
		display: inline-block;
		position: relative;
		width: 1.1em;

		&:hover {
			&:before, ~:before {
				content: "\2605";
   				position: absolute;
   				cursor: pointer;
			}
		}
	}
}