/* Modules and Variables
   ========================================================================== */
/* Color Scheme
   ========================================================================== */
@import url(vendor/bootstrap.min.css);
@import url(vendor/font-awesome/css/font-awesome.min.css);
@font-face {
  font-family: Slot-Regular;
  src: url(../../fonts/Slot-Regular.otf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-BoldItalic;
  src: url(../fonts/Lato-BoldItalic.ttf);
}
/* Mixins
   ========================================================================== */
/* Partials
   ========================================================================== */
/* Helpers
   ========================================================================== */
/* line 4, partials/_helpers.scss */
._pull-left {
  float: left !important;
}

/* line 5, partials/_helpers.scss */
._pull-right {
  float: right !important;
}

/* line 6, partials/_helpers.scss */
._text-center {
  text-align: center !important;
}

/* line 7, partials/_helpers.scss */
._remove-padding {
  padding: 0 !important;
}

/* line 8, partials/_helpers.scss */
._remove-margin {
  margin: 0 !important;
}

@media screen and (max-width: 767px) {
  /* line 11, partials/_helpers.scss */
  ._sm-padding-rm {
    padding: 0;
  }

  /* line 12, partials/_helpers.scss */
  ._sm-text-center {
    text-align: center !important;
  }

  /* line 13, partials/_helpers.scss */
  ._sm-pull-left {
    float: left !important;
  }

  /* line 14, partials/_helpers.scss */
  ._sm-pull-right {
    float: right !important;
  }
}
/* Typography
   ========================================================================== */
@font-face {
  font-family: FengardoNeue_Black;
  src: url(../fonts/FengardoNeue_Black.otf);
}
@font-face {
  font-family: FengardoNeue_Regular;
  src: url(../fonts/FengardoNeue_Regular.otf);
}
@font-face {
  font-family: Gotham-Black;
  src: url(../fonts/Gotham-Black.otf);
}
@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
  font-family: Slot-Regular;
  src: url(../fonts/Slot-Regular.otf);
}
/* line 33, partials/_typography.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 38, partials/_typography.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 43, partials/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 47, partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato-Bold";
}

/* line 51, partials/_typography.scss */
h1 {
  font-size: 3.6rem;
}

/* line 52, partials/_typography.scss */
h2 {
  font-size: 2.4rem;
}

/* line 53, partials/_typography.scss */
h3 {
  font-size: 1.8rem;
}

/* line 54, partials/_typography.scss */
h4 {
  font-size: 1.6rem;
}

/* line 55, partials/_typography.scss */
h5 {
  font-size: 1.4rem;
}

/* line 56, partials/_typography.scss */
h6 {
  font-size: 1.2rem;
}

/* line 57, partials/_typography.scss */
p {
  font-size: 1.4rem;
}

/* line 59, partials/_typography.scss */
li, a, p {
  font-family: "Lato-Regular";
}

/* line 63, partials/_typography.scss */
input, textarea {
  border: 1px solid gray;
  outline: none;
}

/* line 68, partials/_typography.scss */
button:focus, input:focus {
  outline: 0;
}

/* line 72, partials/_typography.scss */
a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* line 77, partials/_typography.scss */
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 83, partials/_typography.scss */
li {
  font-size: 1.4rem;
}

/* line 87, partials/_typography.scss */
table {
  font-family: "Lato-Regular";
  font-size: 1.4rem;
}

/* line 92, partials/_typography.scss */
th {
  font-weight: normal;
}

/* line 96, partials/_typography.scss */
label {
  font-family: "Lato-Regular";
  font-size: 1.4rem;
}

/* line 101, partials/_typography.scss */
section {
  padding: 40px 0;
}

/* Defaults
   ========================================================================== */
/* line 108, partials/_typography.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 113, partials/_typography.scss */
.dotted-border {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: url("../img/bg_dotted.png") repeat-x left bottom;
}

/* Header
   ========================================================================== */
/* line 4, partials/_header.scss */
header {
  position: relative;
  display: block;
  background-color: #0078BB;
  height: 65px;
}

/* line 11, partials/_header.scss */
.logo {
  display: inline-block;
  padding: 5px 0;
}
/* line 15, partials/_header.scss */
.logo img {
  width: 60px;
}

/* line 20, partials/_header.scss */
#phone {
  line-height: 30px;
  padding: 15px 0;
}
/* line 24, partials/_header.scss */
#phone label {
  color: white;
  font-size: 2.4rem;
  font-family: "Lato-Regular";
}
/* line 29, partials/_header.scss */
#phone label:before {
  font-family: "FontAwesome";
  content: '\f10b';
  margin-right: 10px;
}

/* Footer
   ========================================================================== */
/* line 4, partials/_footer.scss */
footer {
  background-color: #f7f7f7;
  position: relative;
}
/* line 8, partials/_footer.scss */
footer .details {
  padding: 50px 0;
}
/* line 12, partials/_footer.scss */
footer .copyright {
  padding-top: 15px;
  background: url("../img/bg_dotted.png") repeat-x left top;
}
/* line 17, partials/_footer.scss */
footer #phone {
  padding: 0;
}
/* line 20, partials/_footer.scss */
footer #phone label {
  color: #1f1f1f;
  font-size: 1.4rem;
}

/* Pages
   ========================================================================== */
/* Homepage
   ========================================================================== */
/* Review Section
   ========================================================================== */
/* line 3, pages/_review.scss */
.review-panel {
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}
/* line 8, pages/_review.scss */
.review-panel p {
  font-size: 2rem;
}
/* line 10, pages/_review.scss */
.review-panel p span {
  font-weight: bold;
}

/* line 15, pages/_review.scss */
.img-wrap {
  position: relative;
}
/* line 18, pages/_review.scss */
.img-wrap .img-container {
  border: 5px solid #ddd;
  border-radius: 100%;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  display: inline-block;
}
/* line 26, pages/_review.scss */
.img-wrap .img-container image {
  width: 100%;
}
/* line 32, pages/_review.scss */
.img-wrap #arrow {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 30px solid #ddd;
  margin: -15px auto 10px;
}
/* line 41, pages/_review.scss */
.img-wrap .logo {
  position: absolute;
  top: 55%;
  right: 15%;
  max-width: 80px;
  width: 80px;
  max-height: 80px;
  background: #0078BB;
  border-radius: 3px;
  padding: 10px;
}
/* line 52, pages/_review.scss */
.img-wrap .logo img {
  max-width: 70px;
}

/* line 59, pages/_review.scss */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 3rem;
}
/* line 64, pages/_review.scss */
.rating span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
/* line 70, pages/_review.scss */
.rating span:hover:before, .rating span:hover ~ :before {
  content: "\2605";
  position: absolute;
  cursor: pointer;
}

/* Third-party
   ========================================================================== */
