@charset "UTF-8";
/* Modules and Variables
   ========================================================================== */
/* Color Scheme
   ========================================================================== */
@import url(vendor/bootstrap.min.css);
@import url(vendor/font-awesome/css/font-awesome.min.css);
@font-face {
  font-family: Slot-Regular;
  src: url(../../fonts/Slot-Regular.otf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-BoldItalic;
  src: url(../fonts/Lato-BoldItalic.ttf);
}
/* Mixins
   ========================================================================== */
/* line 6, modules/_mixins.scss */
::-webkit-input-placeholder {
  color: #ddd;
}

/* line 7, modules/_mixins.scss */
:-moz-placeholder {
  color: #ddd;
}

/* line 8, modules/_mixins.scss */
::-moz-placeholder {
  color: #ddd;
}

/* line 9, modules/_mixins.scss */
:-ms-input-placeholder {
  color: #ddd;
}

/* Partials
   ========================================================================== */
/* Helpers
   ========================================================================== */
/* line 4, partials/_helpers.scss */
._pull-left {
  float: left !important;
}

/* line 5, partials/_helpers.scss */
._pull-right {
  float: right !important;
}

/* line 6, partials/_helpers.scss */
._text-center {
  text-align: center !important;
}

/* line 7, partials/_helpers.scss */
._remove-padding {
  padding: 0 !important;
}

/* line 8, partials/_helpers.scss */
._remove-margin {
  margin: 0 !important;
}

@media screen and (max-width: 767px) {
  /* line 11, partials/_helpers.scss */
  ._sm-padding-rm {
    padding: 0;
  }

  /* line 12, partials/_helpers.scss */
  ._sm-text-center {
    text-align: center !important;
  }

  /* line 13, partials/_helpers.scss */
  ._sm-pull-left {
    float: left !important;
  }

  /* line 14, partials/_helpers.scss */
  ._sm-pull-right {
    float: right !important;
  }
}
/* Typography
   ========================================================================== */
@font-face {
  font-family: FengardoNeue_Black;
  src: url(../fonts/FengardoNeue_Black.otf);
}
@font-face {
  font-family: FengardoNeue_Regular;
  src: url(../fonts/FengardoNeue_Regular.otf);
}
@font-face {
  font-family: Gotham-Black;
  src: url(../fonts/Gotham-Black.otf);
}
@font-face {
  font-family: Gotham-Bold;
  src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: Gotham-Book;
  src: url(../fonts/Gotham-Book.otf);
}
@font-face {
  font-family: Gotham-Medium;
  src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
  font-family: Slot-Regular;
  src: url(../fonts/Slot-Regular.otf);
}
/* line 34, partials/_typography.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 39, partials/_typography.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 44, partials/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 48, partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato-Bold";
}

/* line 52, partials/_typography.scss */
h1 {
  font-size: 3.6rem;
}

/* line 53, partials/_typography.scss */
h2 {
  font-size: 2.4rem;
}

/* line 54, partials/_typography.scss */
h3 {
  font-size: 1.8rem;
}

/* line 55, partials/_typography.scss */
h4 {
  font-size: 1.6rem;
}

/* line 56, partials/_typography.scss */
h5 {
  font-size: 1.4rem;
}

/* line 57, partials/_typography.scss */
h6 {
  font-size: 1.2rem;
}

/* line 58, partials/_typography.scss */
p {
  font-size: 1.4rem;
}

/* line 60, partials/_typography.scss */
li, a, p {
  font-family: "Lato-Regular";
}

/* line 64, partials/_typography.scss */
input, textarea {
  border: 1px solid gray;
  outline: none;
}

/* line 69, partials/_typography.scss */
button:focus, input:focus {
  outline: 0;
}

/* line 73, partials/_typography.scss */
a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* line 78, partials/_typography.scss */
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 84, partials/_typography.scss */
li {
  font-size: 1.4rem;
}

/* line 88, partials/_typography.scss */
table {
  font-family: "Lato-Regular";
  font-size: 1.4rem;
}

/* line 93, partials/_typography.scss */
th {
  font-weight: normal;
}

/* line 97, partials/_typography.scss */
label {
  font-family: "Lato-Regular";
  font-size: 1.4rem;
}

/* line 102, partials/_typography.scss */
section {
  padding: 40px 0;
}

/* Defaults
   ========================================================================== */
/* line 109, partials/_typography.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 114, partials/_typography.scss */
.dotted-border {
  /* display: inline-block; */
  padding-bottom: 3px;
  margin-bottom: 20px;
  background: url("../img/bg_dotted.png") repeat-x left bottom;
}

/* Header
   ========================================================================== */
/* line 4, partials/_header.scss */
header {
  position: relative;
  display: block;
  background-color: #0078BB;
  height: 65px;
}

/* line 11, partials/_header.scss */
.logo {
  display: inline-block;
  padding: 5px 0;
}
/* line 15, partials/_header.scss */
.logo img {
  width: 60px;
}

/* line 20, partials/_header.scss */
#phone {
  line-height: 30px;
  padding: 15px 0;
}
/* line 24, partials/_header.scss */
#phone label {
  color: white;
  font-size: 2.4rem;
  font-family: "Lato-Regular";
}
/* line 29, partials/_header.scss */
#phone label:before {
  font-family: "FontAwesome";
  content: '\f10b';
  margin-right: 10px;
}

/* Footer
   ========================================================================== */
/* line 4, partials/_footer.scss */
footer {
  background-color: #f7f7f7;
  position: relative;
}
/* line 8, partials/_footer.scss */
footer .details {
  padding: 50px 0;
}
/* line 12, partials/_footer.scss */
footer .copyright {
  padding-top: 15px;
  background: url("../img/bg_dotted.png") repeat-x left top;
}
/* line 17, partials/_footer.scss */
footer #phone {
  padding: 0;
}
/* line 20, partials/_footer.scss */
footer #phone label {
  color: #1f1f1f;
  font-size: 1.4rem;
}

/* line 27, partials/_footer.scss */
#maps {
  min-height: 300px;
  position: relative;
}
/* line 31, partials/_footer.scss */
#maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Pages
   ========================================================================== */
/* Landing Section
   ========================================================================== */
/* line 4, pages/_landing.scss */
#landing {
  padding: 70px 0;
  background: url("../img/landing.jpg") 50% 50%/cover no-repeat;
  /* min-height: 800px; */
}

/* line 10, pages/_landing.scss */
#landing-form {
  background: #0078BB;
  padding: 40px 40px 45px 40px;
  min-height: 250px;
  width: 100%;
  max-width: 380px;
  margin-bottom: -70px;
  text-align: center;
}
/* line 19, pages/_landing.scss */
#landing-form input {
  background: #59aad0;
  padding: 10px;
  border: none;
  width: 100%;
  color: #fefefe;
  margin-bottom: 15px;
}
/* line 27, pages/_landing.scss */
#landing-form input[type="submit"] {
  display: block;
  background: #ef9e31;
  font-family: "Lato-Bold";
  font-size: 1.8rem;
  width: 90%;
  margin: 20px auto;
  color: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 37, pages/_landing.scss */
#landing-form input[type="submit"]:hover {
  box-shadow: 2px 2px 5px #333;
}

/* line 45, pages/_landing.scss */
.rw-wrapper {
  position: relative;
  margin: 110px auto 0 auto;
  font-family: 'Bree Serif';
  padding: 10px;
}

/* line 51, pages/_landing.scss */
.rw-sentence {
  margin: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

/* line 56, pages/_landing.scss */
.rw-sentence span {
  color: #444;
  white-space: nowrap;
  font-size: 200%;
  font-weight: normal;
}

/* line 62, pages/_landing.scss */
.rw-words {
  display: inline;
  text-indent: 5px;
}

/* line 66, pages/_landing.scss */
.rw-words span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  color: #6b969d;
}

/* line 73, pages/_landing.scss */
.rw-words-1 span {
  -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
  -ms-animation: rotateWordsFirst 18s linear infinite 0s;
  animation: rotateWordsFirst 18s linear infinite 0s;
}

/* line 78, pages/_landing.scss */
.rw-words-2 span {
  -webkit-animation: rotateWordsSecond 18s linear infinite 0s;
  -ms-animation: rotateWordsSecond 18s linear infinite 0s;
  animation: rotateWordsSecond 18s linear infinite 0s;
}

/* line 83, pages/_landing.scss */
.rw-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #6b889d;
}

/* line 89, pages/_landing.scss */
.rw-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #6b739d;
}

/* line 95, pages/_landing.scss */
.rw-words span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: #7a6b9d;
}

/* line 101, pages/_landing.scss */
.rw-words span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: #8d6b9d;
}

/* line 107, pages/_landing.scss */
.rw-words span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
  color: #9b6b9d;
}

@-webkit-keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    height: 0px;
  }
  8% {
    opacity: 1;
    height: 60px;
  }
  19% {
    opacity: 1;
    height: 60px;
  }
  25% {
    opacity: 0;
    height: 60px;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    -ms-animation-timing-function: ease-in;
    height: 0px;
  }
  8% {
    opacity: 1;
    height: 60px;
  }
  19% {
    opacity: 1;
    height: 60px;
  }
  25% {
    opacity: 0;
    height: 60px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    height: 0px;
  }
  8% {
    opacity: 1;
    height: 60px;
  }
  19% {
    opacity: 1;
    height: 60px;
  }
  25% {
    opacity: 0;
    height: 60px;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotateWordsSecond {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    width: 0px;
  }
  10% {
    opacity: 0.3;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 100%;
  }
  27% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWordsSecond {
  0% {
    opacity: 1;
    -ms-animation-timing-function: ease-in;
    width: 0px;
  }
  10% {
    opacity: 0.3;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 100%;
  }
  27% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWordsSecond {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    width: 0px;
  }
  10% {
    opacity: 0.3;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 100%;
  }
  27% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 160, pages/_landing.scss */
  .rw-sentence {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 991px) {
  /* line 166, pages/_landing.scss */
  .rw-sentence {
    font-size: 1.6rem;
  }

  /* line 170, pages/_landing.scss */
  .rw-wrapper {
    margin: 90px 0;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 179, pages/_landing.scss */
  #landing-form {
    margin: 0 auto;
  }
}
/* Review Section
   ========================================================================== */
/* line 3, pages/_review.scss */
.review-panel {
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}
/* line 8, pages/_review.scss */
.review-panel p {
  font-size: 2rem;
}
/* line 10, pages/_review.scss */
.review-panel p span {
  font-weight: bold;
}

/* line 15, pages/_review.scss */
.img-wrap {
  position: relative;
  max-width: 250px;
  margin: 0 auto;
}
/* line 21, pages/_review.scss */
.img-wrap .img-container {
  position: relative;
  border: 5px solid #ddd;
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
/* line 31, pages/_review.scss */
.img-wrap .img-container image {
  width: 100%;
}
/* line 37, pages/_review.scss */
.img-wrap #arrow {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #ddd;
  margin: -20px auto 10px;
  transition: all ease 0.5s;
}
/* line 48, pages/_review.scss */
.img-wrap .logo {
  position: absolute;
  top: 53%;
  right: 10px;
  max-width: 80px;
  width: 80px;
  max-height: 80px;
  background: #0078BB;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 59, pages/_review.scss */
.img-wrap .logo img {
  max-width: 70px;
}
/* line 65, pages/_review.scss */
.img-wrap:hover #arrow {
  margin-top: -15px;
  transition: all ease 0.5s;
}

/* line 73, pages/_review.scss */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 3rem;
}
/* line 78, pages/_review.scss */
.rating span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
/* line 84, pages/_review.scss */
.rating span:hover:before, .rating span:hover ~ :before {
  content: "\2605";
  position: absolute;
  cursor: pointer;
}

/* Features Section
   ========================================================================== */
/* line 6, pages/_features.scss */
.feature-panel {
  height: 270px;
  max-height: 300px;
  overflow: hidden;
  padding: 0;
}
/* line 12, pages/_features.scss */
.feature-panel .icon {
  font-size: 2.5rem;
  margin-right: 10px;
}
/* line 17, pages/_features.scss */
.feature-panel h2 {
  margin-top: 5px;
}
/* line 20, pages/_features.scss */
.feature-panel h2 span {
  line-height: 30px;
  margin-bottom: 10px;
}
/* line 27, pages/_features.scss */
.feature-panel p {
  line-height: 25px;
}

/* Slider */
/* line 2, pages/slick.scss */
#slider-container {
  background: #f7f7f7;
}

/* line 6, pages/slick.scss */
.slider {
  width: 90%;
  margin: 30px auto;
}

/* line 11, pages/slick.scss */
.slick-slide {
  margin: 0px 20px;
}

/* line 15, pages/slick.scss */
.slick-slide img {
  width: 100%;
}

/* line 19, pages/slick.scss */
.slick-prev:before,
.slick-next:before {
  color: black !important;
}

/* line 25, pages/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 39, pages/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 46, pages/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 50, pages/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 55, pages/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 64, pages/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 70, pages/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 76, pages/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 80, pages/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 84, pages/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 88, pages/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 91, pages/slick.scss */
.slick-slide img {
  display: block;
}
/* line 94, pages/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 100, pages/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 104, pages/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 108, pages/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 112, pages/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 118, pages/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Arrows */
/* line 47, pages/slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: black;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 65, pages/slick-theme.scss */
.slick-prev:hover,
.slick-next:hover {
  outline: none;
  background: #ddd;
  color: white !important;
  /* @include border-radius(100%); */
  border-radius: 100%;
}
/* line 71, pages/slick-theme.scss */
.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}
/* line 75, pages/slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
/* line 78, pages/slick-theme.scss */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 89, pages/slick-theme.scss */
.slick-prev {
  left: -50px;
}
/* line 91, pages/slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -50px;
}
/* line 95, pages/slick-theme.scss */
.slick-prev:before {
  font-family: 'FontAwesome';
  content: "";
}
/* line 98, pages/slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "";
}

/* line 104, pages/slick-theme.scss */
.slick-next {
  right: -50px;
}
/* line 106, pages/slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -50px;
  right: auto;
}
/* line 110, pages/slick-theme.scss */
.slick-next:before {
  font-family: 'FontAwesome';
  content: "";
}
/* line 113, pages/slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
/* line 121, pages/slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 125, pages/slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 134, pages/slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 142, pages/slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 154, pages/slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 156, pages/slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 160, pages/slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 177, pages/slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Third-party
   ========================================================================== */
