/* Header
   ========================================================================== */

header{
	position: relative;
	display: block;
	background-color: $blue;
	height:65px;
}

.logo {
	display: inline-block;
	padding: 5px 0;

	img{
		width: 60px;
	}
}

#phone {
	line-height: 30px;
	padding: 15px 0;

	label{
		color: white;
		font-size: 2.4rem;
		font-family: $lato-reg;

		&:before{
			font-family: $fontawesome;
			content: '\f10b';
			margin-right: 10px;
		}
	}


}